Repository plentymarkets/terra-components, pull requests merged in 2021-01, with the labels that each got.

#1171 feature(alert): remove deprecated TerraAlertComponent
  CHANGELOG.md
  src/lib/components/alert/alert.service.spec.ts
  src/lib/components/alert/alert.service.ts
  src/lib/components/alert/data/terra-alert.interface.ts
  src/lib/components/alert/example/terra-alert.component.example.html
  src/lib/components/alert/example/terra-alert.component.example.ts
  src/lib/components/alert/index.ts
  src/lib/components/alert/terra-alert-panel.component.spec.ts
  src/lib/components/alert/terra-alert-panel.component.ts
  src/lib/components/alert/terra-alert.component.spec.ts
  src/lib/components/alert/terra-alert.component.ts
  src/lib/components/forms/input/terra-input.component.ts
  src/lib/components/layouts/overlay/example/terra-overlay.component.example.ts
  src/lib/public-api.ts
Labels: Major change, v6

#1468 feature(styles): remove styles for material tabs
  CHANGELOG.md
  src/lib/styles/material/_tab.scss
  src/lib/styles/styles.scss
Labels: Major change

#1472 fix(terra-data-table): function of terra-checkbox in header and rows
  src/lib/components/tables/data-table/table-row/table-row.component.html
  src/lib/components/tables/data-table/table-row/table-row.component.spec.ts
  src/lib/components/tables/data-table/terra-data-table.component.html
  src/lib/components/tables/data-table/terra-data-table.component.ts
  src/lib/components/tables/simple/terra-simple-table.component.html
  src/lib/components/tables/terra-base-table.spec.ts
  src/lib/components/tables/terra-base-table.ts
Labels: Hotfix
