Repository plentymarkets/terra-components, pull requests merged in 2021-05, with the labels that each got.

#1555 feature(form): unit tests for multi-select-box
  src/lib/components/forms/form/form-components/multi-select/multi-select.component.spec.ts
Labels: form

#1557 feature(Terra-Form): replace terra-slider with mat-slider component
  CHANGELOG.md
  src/lib/components/forms/form/example/form-fields.ts
  src/lib/components/forms/form/form-components/slider/pipes/index.ts
  src/lib/components/forms/form/form-components/slider/pipes/tick-interval.pipe.spec.ts
  src/lib/components/forms/form/form-components/slider/pipes/tick-interval.pipe.ts
  src/lib/components/forms/form/form-components/slider/slider.component.html
  src/lib/components/forms/form/form-components/slider/slider.component.ts
  src/lib/components/forms/form/form-components/slider/slider.interface.ts
  src/lib/components/forms/form/form-components/slider/utils/getNumberOfFractionalDigits.spec.ts
  src/lib/components/forms/form/form-components/slider/utils/getNumberOfFractionalDigits.ts
  src/lib/components/forms/form/form-components/slider/utils/index.ts
  src/lib/components/forms/form/model/form-type-map.ts
  src/lib/pipes/pipe-collection.ts
  src/lib/terra-components.module.ts
Labels: form

#1561 feature(Terra-Form): replace terra-suggestions-box with mat-autocomplete
  CHANGELOG.md
  src/lib/components/forms/form/example/form-fields.ts
  src/lib/components/forms/form/form-components/suggestion/suggestion.component.html
  src/lib/components/forms/form/form-components/suggestion/suggestion.component.spec.ts
  src/lib/components/forms/form/form-components/suggestion/suggestion.component.ts
  src/lib/components/forms/form/form-components/suggestion/suggestion.interface.ts
  src/lib/components/forms/form/model/form-type-map.ts
  src/lib/terra-components.module.ts
Labels: form

#1560 create unit test
  src/lib/components/forms/form/form-components/suggestion/suggestion.component.spec.ts
  src/lib/components/forms/form/form-components/suggestion/suggestion.component.ts
Labels: Feature, form

#1532 feature(form): replace terra-number-input with a material input variant
  CHANGELOG.md
  src/lib/components/component-collection.ts
  src/lib/components/forms/form/form-components/number-input/number-input.component.html
  src/lib/components/forms/form/form-components/number-input/number-input.component.spec.ts
  src/lib/components/forms/form/form-components/number-input/number-input.component.ts
  src/lib/components/forms/form/form-components/number-input/number-input.interface.ts
  src/lib/components/forms/form/model/form-type-map.ts
Labels: form

#1558 feature(form): replace `terra-slider` with a variant of material's slider
  CHANGELOG.md
  src/lib/components/component-collection.ts
  src/lib/components/forms/form/example/form-fields.ts
  src/lib/components/forms/form/form-components/slider/pipes/tick-interval.pipe.spec.ts
  src/lib/components/forms/form/form-components/slider/pipes/tick-interval.pipe.ts
  src/lib/components/forms/form/form-components/slider/slider.component.html
  src/lib/components/forms/form/form-components/slider/slider.component.scss
  src/lib/components/forms/form/form-components/slider/slider.component.spec.ts
  src/lib/components/forms/form/form-components/slider/slider.component.ts
  src/lib/components/forms/form/form-components/slider/slider.interface.ts
  src/lib/components/forms/form/form-components/slider/utils/fractional-digits.spec.ts
  src/lib/components/forms/form/form-components/slider/utils/fractional-digits.ts
  src/lib/components/forms/form/model/form-type-map.ts
  src/lib/pipes/pipe-collection.ts
  src/lib/terra-components.module.ts
Labels: form

#1551 feature(Terra-Form): replace terra-double-input with mat-input
  CHANGELOG.md
  src/lib/components/component-collection.ts
  src/lib/components/forms/form/example/form-fields.ts
  src/lib/components/forms/form/form-components/double-input/double-input.component.html
  src/lib/components/forms/form/form-components/double-input/double-input.component.spec.ts
  src/lib/components/forms/form/form-components/double-input/double-input.component.ts
  src/lib/components/forms/form/form-components/double-input/double-input.interface.ts
  src/lib/components/forms/form/model/form-type-map.ts
  src/lib/terra-components.module.ts
Labels: form

#1577 feature (Terra Portlet): deprecate terra portlet
  CHANGELOG.md
  src/lib/components/layouts/portlet/terra-portlet.component.ts
Labels: Feature

#1579 feature(terra-stopwatch): deprecate terra-stopwatch
  CHANGELOG.md
  src/lib/components/stopwatch/terra-stopwatch.component.ts
Labels: Minor change

#1581 feature(terra-radio-group): deprecate radio group
  CHANGELOG.md
  src/lib/components/forms/input/radio/radio-group.component.ts
  src/lib/components/forms/input/radio/radio-input.component.ts
Labels: Minor change
